@import url('https://fonts.googleapis.com/css2?family=Metal+Mania&display=swap');

html{
    background-color: black;
    text-align: center;
}

h1{
    font-family: 'Metal Mania', cursive;
    background: -webkit-linear-gradient(rgb(223,89,196),rgb(207,19,19));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 0;

    font-size: 10rem;
}

h2{
    font-family: 'Metal Mania', cursive;
    background: -webkit-linear-gradient(rgb(223,89,196),rgb(207,19,19));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3rem;
}

.band{
    width: 1200px;
    display: flex;
    margin: 0 auto;
}

.band > img{
    height:300px;
}

.ar {
    background-image: linear-gradient(rgb(223,89,196),rgb(207,19,19));
    margin: 0 auto;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
}